body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px 0;
}

app-cabecera {
  background-color: #343a40;
  color: white;
}

a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

app-pie-pagina {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  margin-top: auto;
}

.lista-libros-horizontal::-webkit-scrollbar {
  height: 8px;
}

.lista-libros-horizontal::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.lista-libros-horizontal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.lista-libros-horizontal::-webkit-scrollbar-thumb:hover {
  background: #555;
}