.card-img-top {
  max-height: 200px;  
  width: auto;        
  object-fit: cover;  
  object-position: center; 
}

.card-img-top:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}